
<div class="container">
  <div id="grad">
  <div class="row">

<div class="col-md-6">
  <div class="jumbotron">
<h1>Create your {{ title }}!</h1>

</div>

<div class="align">

      <div class="row"*ngFor="let quote of quotes;let i =index">
        <div class="well">
        <ul>
         <li appHighlight >{{quote.quote}}
            <app-quotedetails [quote]='quote' (isDone)='delete($event,i)'></app-quotedetails>  </li>

         </ul>
         </div>
       </div>
     </div>

</div>

      <div class="col-md-6">

            <app-quoteform (addQuote)='addQuote($event)'></app-quoteform>
    </div>
  </div>
</div>
