<div id="grad">
<div class="container">
  <div class="row">
    
    <div class="col-md-6">
    <div class="jumbotron">
<h1>Create your {{ title }}!</h1>
</div>
<div class="align">
    <ul>
      <div *ngFor='let quote of quotes;let i="index"'>
         <li> {{quote.quote}} 
            <app-quotedetails [quote]='quotes' (isDone)='delete($event,i)'></app-quotedetails>  </li>
         
    
</div>
</ul>

    
        <app-quotedetails [quote]='quotes' (isDone)='delete($event,i)'></app-quotedetails>
      </div>
      </div>

      <div class="col-md-6">
      
            <app-quoteform (addQuote)='addNewQuote($event,i)'></app-quoteform>
          
</div>
    </div>
  </div>
</div>