
@import "~bootstrap/dist/css/bootstrap.css";



/* body {
    background-color:maroon;
} */

#grad {
    height: 700px;
    background-color: blue;
    background-image: linear-gradient(to bottom right, blue, white);
}
h1{
    font-family: fantasy;
}
.align{
    text-align: center;
}